@charset "UTF-8";

* {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  background: white;
  background-color: #edece9;
  /* background-image: url("../image/****"); */
  color: #333333;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}
a{
  text-decoration: none;
}

/*----ロード画面----*/
#loading{
  position: absolute;
  left: 50%;
  top: 30%;
}
#loader-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #FFF;
  z-index: 1;
}

.main{
  margin-top: 15%;
  width: 100%;
  height: 100%;
  text-align: center;
}
.about-main{
  margin-top: 15%;
}
#layout{
  display: block;
  padding-bottom: 80px;
  height: auto;
}
#site_header{
  position: fixed;
  width: 100%;
  z-index: 2;
  transition: 1.5s;
}
#navi-menu{
  padding: 5px 0;
}
#nav-drawer{
  display: none;
}
#right-container{
  text-align: left;
  display: inline-block;
  position: static;
  width: 30%;
  vertical-align: top;
  margin-left: 5%;
}
#right-container > #twitter > .twitter{
  display: block;
  text-align: center;
}
#left-container{
  text-align: left;
  display: inline-block;
  position: static;
  width: 750px;
  vertical-align: top;
}
/*----ハンバーガーメニュー＆ナビゲーションドロワー----*/
@media screen and (max-width: 900px) {
  #navi-menu{
    display: none;
  }
  #nav-drawer{
    display: block;
  }

  .logo{
    width: 100%;
  }
  .logo img{
    width: 300px;
  }
  .update{
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  #right-container{
    width: 70%;
    display: block;
    position: static;
    float: none;
    margin-left: 0;
    margin: 10px auto;
    padding: 0 10px;
  }
  #right-container > #twitter{
    display: block;
    text-align: center;
  }
  #left-container{
    width: 90%;
    display: block;
    position: static;
    float: none;
    margin-left: 0;
    margin: 0 auto;
    padding: 0 10px;
  }
  .clear{
    clear: both;
  }
  /*フッターの条件設定*/
  footer{
    text-align: center;
    width: auto;
  }
  .footer-left{
    display: block;
    padding: 17px 10px 0;
  }
  .footer-right > *{
    display: none;
  }
}

/*--新入生向け情報関係--*/
#modal{
  z-index: 999;
  position: absolute;
  display: block;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.486);
  overflow: hidden;
  opacity: 1;
}

#modal .modal-content{
  width: 80%;
  height: auto;
  background-color: royalblue;
  position: relative;
  transform: translate(-50% , -50%);
  top: 0%;
  left: 50%;
  margin-top: 25%;
  padding: 20px 0;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  #modal .modal-content{
    width: 90%;
    height: auto;
    background-color: royalblue;
    position: relative;
    transform: translate(-50% , -5%);
    top: 5%;
    left: 50%;
    margin-top: 25%;
    padding: 20px 0;
    text-align: center;
  }
}

/* 13px @ 200px increasing to 32px @ 1200px */
@media (min-width: 200px) {
  #modal .modal-content h1 {
    font-size: calc(0.8125rem + ((1vw - 2px) * 1.9));
    /* Where: * 1.9 = 100 * font_Size_Difference / viewport_Width_Difference */
  }
}
/* Prevent font scaling beyond this breakpoint */
@media (min-width: 1200px) {
  #modal .modal-content h1 {
    font-size: 32px;
  }
}