<!--Game紹介ページのテンプレートです。-->
<div class="game">
  <h3>[gamealbum_title]</h3>
  <div class="text">
    <p class="info">[game_introduction]</p>//そのゲームの簡単な紹介文
    <ul>
      <li>[Game_title_1]</li>
      <li>[Game_title_2]</li>
      <li>[Game_title_3]</li>
    </ul>//収録ゲームを記述する。<li>で記述した分だけ表示される。
  </div>
  <div class="thumbnail">
    <img src="[file_to_path]" alt="file_of_alt" />//そのゲームのサムネイル画像(ジャケット画像)のパスを指定
  </div>
  <a class="dl-btn" href="[file_to_path]">DOWNLOAD</a>//そのゲームのゲームデータがあるパスを指定。ダウンロードできないときはコメントアウトすること
</div>
